
.logo {
    border-radius: 50%;
    float: left;
}
nav {
    margin: 0 auto;
    display: inline;
}
nav ul {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 2px solid black;
}
nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: red;
}
.searchbtn {
    padding: 10px;
}
.buttons{
    margin: 40px;
    padding: 10px;
    float: right;
}

.column {
    box-sizing: border-box;
  float: left;
  width: 33.33%;
  color:white;
    text-align: center;
    padding: 50px;
    background-color: #3366ff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.background-img {
    
    background-position: center;
    width:73%;
   
    
}

.btn{background-color: #CD5C5C;
  color: white;
  padding: 15px 15px;
  text-align: center;
  display: right;
  font-size: 16px;
  }

#more {display: none;}

