.logo {
    border-radius: 50%;
    float: left;
}
nav {
    margin: 0 auto;
    display: inline;
}
nav ul {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 2px solid black;
}
nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: red;
}
.searchbtn {
    padding: 10px;
}
.buttons{
    margin: 40px;
    padding: 10px;
    float: right;
}
