.logo {
    border-radius: 50%;
    float: left;
}
nav {
    margin: 0 auto;
    display: inline;
}
nav ul {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 2px solid black;
}
nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: red;
}

.clr {
    clear: both;
}

.searchbtn {
    padding: 10px;
}

#calltoaction {
    padding: 2in;
    background-image: url("https://musicoomph.com/wp-content/uploads/2018/03/benefits-of-going-to-live-music-concerts.jpg");
    background-position: center;
}

.buttons{
    margin: 40px;
    padding: 10px;
    float: right;
}

.column {
    box-sizing: border-box;
  float: left;
  width: 33.33%;
    text-align: center;
    border: 2px solid black;
    padding: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*css for Logo*/
.logo {
    border-radius: 50%;
    float: left;
}
/*css for navigation*/
nav {
    margin: 0 auto;
    display: inline;
}
nav ul {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 2px solid black;
}
nav ul li{
    display: inline;
    margin: 20px;
}
li > a:hover{ font-size: 30px;
            font-weight: bold; }
nav a {
    text-decoration: none;
    color: red;
}
/*This clears float*/
.clr {
    clear: both;
}
/*css for search button*/
.searchbtn {
    padding: 10px;
}

#calltoaction {
    padding: 2in;
    background-image: url("https://musicoomph.com/wp-content/uploads/2018/03/benefits-of-going-to-live-music-concerts.jpg");
    background-position: center;
}

.buttons{
    margin: 40px;
    padding: 10px;
    float: right;
}

.column {
    box-sizing: border-box;
  float: left;
  width: 33.33%;
    text-align: center;
    border: 2px solid black;
    padding: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}