/*Nav Start*/
.logo {
    border-radius: 50%;
    float: left;
}
nav {
    margin: 0 auto;
    display: inline;
}
nav ul {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 2px solid black;
}
nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: red;
}
/*Nav End*/
*{
	margin: 0;
	padding: 0;
}


header img{
	/*float: left;*/
	
	 border: 2px solid black;
	 border-radius: 50%;
	 /*clear: both;*/
}

body{
    /*padding: 2in;*/
    background-image: url("https://www.wallpaperflare.com/static/826/240/21/music-guitar-smoke-concerts-wallpaper.jpg");
    background-position: 10% center;
    background-repeat: no-repeat;

}
.searchbtn {
    padding: 10px;
}
.buttons{
    margin: 40px;
    padding: 10px;
    float: right;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}
.box{
	/*margin-top:2in;*/

	border: 1px solid;
	border-radius: 10%;
	height: 500px;
	width: 300px;
	box-shadow: 10px;
	padding: 5%;
	text-align: center;
	/*position: absolute;*/
	/*left: 20%;*/
	color:white;
	margin: 100px;
}

/*button{color:white;}*/
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.label{
	margin: 10px;
	padding: 10px;
}

.input {
	margin: 10px;
	width: 80%;
}
.container {
  padding: 16px;
}

